{% extends 'root.html' %}
{% load cart_tag %}
{% block content %}
    <div class="cart-wrapper">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Carrito de compras</h2>
            <a class="" href="{% url 'catalog' %}">Continuar comprando</a>
        </div>
        <table class="table fw-lighter">
            <thead>
            <tr>
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            {% for product in product_in_cart %}
                <tr>
                    <td class="d-md-flex">
                        <img src="{{ product.product.image }}" alt="imagen de producto"/>
                        <span class="">
                            <p class="fw-normal">{{ product.product.name }}</p>
                            <span>$<b>{{ product.product.price|floatformat:2 }}</b></span>
                        </span>
                    </td>
                    <td>
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div class="counter-wrapper mt-1 me-2 mb-3 mb-sm-0 d-flex justify-content-between
                            align-items-center">
                                <i onclick="{restar({{ forloop.counter0 }})}"
                                   class="icono fa fa-minus fw-lighter counter-sub"></i>
                                <span class="fw-bold counter-num"
                                      prod_id="{{ product.id }}">{{ product.quantity }}</span>
                                <i onclick="{sumar({{ forloop.counter0 }})}"
                                   class="icono fa fa-plus me-md-3 counter-sum"></i>
                            </div>
                            <i onclick="{eliminar({{ product.id }}, '{{ product.product.name }}')}"
                               class="icono fa fa-trash me-md-5"></i>
                        </div>
                    </td>
                    <td>$<b>{{ product.product.price|multiply:product.quantity|floatformat:2 }}</b></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="d-flex justify-content-between  pay-wrapper">
            <button id="update-cart">Actualizar carrito</button>
            <span class="text-muted">Total $ {{ total|floatformat:2 }}</span>
        </div>
    </div>

    <form class="my-5 pay-wrapper" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" required id="name" name="name" autocomplete="off"
                           placeholder=" "/>
                    <label for="name">Nombre</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" required id="adress" name="address" autocomplete="off"
                           placeholder=" "/>
                    <label for="adress">Dirección</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" required id="email" name="email" autocomplete="off"
                           placeholder=" "/>
                    <label for="email">Correo electrónico</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phone" name="phone_number" autocomplete="off"
                           placeholder=" "/>
                    <label for="phone">Teléfono (Opcional)</label>
                </div>
            </div>
        </div>
        <button type="submit">Pagar</button>
    </form>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script>
        function eliminar(id, name) {
            swal({
                title: 'Eliminar',
                text: `Desea quitar "${name}" del carrito?`,
                icon: "warning",
                dangerMode: true,
                buttons: ["Cancelar", true],
            })
                .then(value => {
                    if (!value) throw null;
                    return fetch(`{{ host }}{{ domain }}/cart/clear/${id}/`);
                })
                .then(results => {
                    return results.json();
                })
                .then(json => {
                    location.reload()
                })
                .catch(err => {
                    if (err) {
                        swal("Error", "Hay un problema de conexión en el servidor", "error");
                    } else {
                        swal.stopLoading();
                        swal.close();
                    }
                })
        }

        document.querySelector('#update-cart').addEventListener('click', _ => {
            let lista = []
            document.querySelectorAll('.counter-num').forEach(e => {
                lista.push({'id': e.attributes['prod_id'].value, 'cant': e.innerText})
            })
            let http = new EasyHTTP
            http.post('{{ host }}{{ domain }}{% url "cart_update_cart" %}', lista, '{{ csrf_token }}')
                .then(data => {
                    if (data.result === 'ok')
                        location.reload()
                    else
                        swal("Error", "Hay un problema de conexión en el servidor", "error");
                })
                .catch(err => {
                    console.error(err)
                    if (err)
                        swal("Error", "Hay un problema de conexión en el servidor", "error");
                })
        })
    </script>
{% endblock %}