{% extends 'root.html' %}
{% block content %}
    <div class="product-screen row">
        <div class="col-12 col-md-6 mb-3 d-flex justify-content-center align-items-start">
            <img src="{{ object.image.url }}" alt="Imagen de producto"/>
        </div>
        <div class="col-12 col-md-6">
            <h6 class="text-muted">FITNESS ARMY</h6>
            <h3 class="fw-normal">{{ object.name }}</h3>
            <p>$ {{ object.price|floatformat:2 }} USD</p>
            <div>
                <span>Cantidad</span>
                <div class="counter-wrapper mt-1 d-flex justify-content-between align-items-center">
                    <i onclick={restar(0)} class="icono fa fa-minus fw-lighter counter-sub"></i>
                    <span class="fw-bold counter-num">{{ quantity }}</span>
                    <i onclick={sumar(0)} class="icono fa fa-plus counter-sum"></i>
                </div>
            </div>
            <div class="addCart-button text-center mt-3">{% if not is_added %}Añadir al carrito{% else %}Actualizar
                carrito{% endif %}</div>
            {% csrf_token %}
            <div class="properties-wrapper text text-muted mt-3">
                <h5>Propiedades</h5>
                <ul>
                    {% for property in object.property_set.all %}
                        <li>{{ property }}</li>
                    {% endfor %}
                </ul>
                <p>
                    {{ object.info }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script>
        document.querySelector('.addCart-button').addEventListener('click', _ => {
            let counter = document.querySelector('.counter-num').innerText
            console.log(counter)
            let http = new EasyHTTP
            let url = `{{ host }}{{ domain }}/cart/add/{{ object.id }}/${counter}/`
            if ('{{ is_added }}')
                url = `{{ host }}{{ domain }}/cart/update_quantity/{{ object.id }}/${counter}/`

            http.post(url, {}, '{{ csrf_token }}')
                .then(data => {
                    console.log(data)
                    location.reload()
                })
                .catch(err => {
                    console.error(err)
                    if (err)
                        swal("Error", "Hay un problema de conexión en el servidor", "error");

                })
        })
    </script>
{% endblock %}