<div class="navbar fixed-top container bg-white">
    <i class="icono fa fa-close d-sm-none d-none"></i>
    <i class="icono fa fa-bars d-sm-none"></i>
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{{ cfg.logo.url }}" alt="Logo"/></a>
    </div>
    <ul class="navbar-nav d-flex flex-column justify-content-between ">
            <span class="d-flex flex-column flex-md-row gap-3">
              <li><a aria-current="page" class="nav-item active" href="{% url 'index' %}">Home</a></li>
              <li><a class="nav-item" href="{% url 'catalog' %}">Catalog</a></li>
              <li><a class="nav-item" href="pages/contact.html">Contact</a></li>
            </span>
        <span class="nav-redes p-2 d-md-none">
            <i class="icono fa fa-facebook"></i>
            <i class="icono fa fa-instagram"></i>
        </span>
    </ul>
    <i class="icono fa fa-search"></i>
    <div class="nav-search position-absolute bg-white top-0 start-0 w-100 d-flex justify-content-md-end
     align-items-baseline py-4 px-2 search-close">
        <input type="search" name="search" id="search-input" class="flex-grow-1 flex-md-grow-0 w-25"/>
        <i class="icono fa fa-search"></i>
        <i class="icono fa fa-close nav-search-close"></i>
    </div>
    <a href="pages/cart.html"><i class="icono fa fa-shopping-bag"></i></a>
</div>
