<div class="navbar fixed-top container bg-white">
    <i class="icono fa fa-close d-sm-none d-none"></i>
    <i class="icono fa fa-bars d-sm-none"></i>
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{{ cfg.logo.url }}" alt="Logo"/></a>
    </div>
    <ul class="navbar-nav d-flex flex-column justify-content-between ">
            <span class="d-flex flex-column flex-md-row gap-3">
              <li><a {% if inicio %}aria-current="page" {% endif %}
                     class="nav-item {% if inicio %}active{% endif %}" href="{% url 'index' %}">Inicio</a></li>
              <li><a {% if catalog %}aria-current="page" {% endif %}
                     class="nav-item {% if catalog %}active{% endif %}" href="{% url 'catalog' %}">Catalog</a></li>
              <li><a {% if contact %}aria-current="page" {% endif %}
                     class="nav-item {% if contact %}active{% endif %}" href="{% url 'contact' %}">Contact</a></li>
            </span>
        {% comment %}        <span class="nav-redes p-2 d-md-none">
            <i class="icono fa fa-facebook"></i>
            <i class="icono fa fa-instagram"></i>
        </span>{% endcomment %}
    </ul>
    <i class="icono fa fa-search"></i>
    <div class="nav-search position-absolute bg-white ms-2 start-0 w-100 d-flex justify-content-md-end
     align-items-baseline py-4 px-2 search-close" style="top: 5%">
        <form action="" style="display: contents">
            <input type="search" name="search" id="search-input" class="flex-grow-1 flex-md-grow-0 w-50"/>
            <button type="submit" class="border-0 rounded-0 bg-white"><i class="icono fa fa-search"></i></button>
            <i class="icono fa fa-close nav-search-close"></i>
        </form>
    </div>
    <a href="{% url 'cart' %}"><i class="icono fa fa-shopping-bag"></i></a>
</div>
